mat-form-field, textarea {
  width: 100%;
}

:host {
  margin-top: 1rem;
  display: block;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  display: none;
}

button[type="submit"] {
  float: right;
}

.picPreview {
  height: 5rem;
  margin: 1rem 0;
}

.picPreview img {
  max-height: 100%;
}
