<mat-card>
  <form [formGroup]="form" (submit)="onAddedPost()" *ngIf="!spinner">
    <mat-form-field>
      <input matInput
             type="text"
             placeholder="Post title"
             formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Post title is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
                placeholder="Post Content"
                formControlName="content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Post content is required!</mat-error>
    </mat-form-field>
    <div>
      <button type="button" mat-stroked-button (click)="picUpload.click()">Upload image</button>
      <input type="file" #picUpload (change)="onChoosePic($event)">

      <div class="picPreview" *ngIf="picPreview && form.get('image').valid">
        <img [src]="picPreview">
      </div>
    </div>
    <mat-card-actions>
      <button mat-raised-button
              type="submit"
              color="primary">
        Save Post
      </button>
    </mat-card-actions>
  </form>
  <mat-spinner *ngIf="spinner"></mat-spinner>
</mat-card>
